@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-introduction-container {
  background-color: #1F2937;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  margin-top: 15px;
  margin-right: 70px;
}

.minecraft-logo-container {
  margin-left: 115px;
  margin-top: 6px;
}

.minecraft-logo {
  width: 60px;
  height: 70px;
}

.link {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px;
  margin-left: 1px;
  text-decoration: none;
  margin-top: 4px;
}

h1{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.description-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.header-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: 70px;
  padding-top: 30px;
  padding-bottom: 90px;
}

.image-description {
  padding-top: 42px;
  padding-left: 25px;
  padding-bottom: 80px;
}

.p-first {
  font-size: 16px;
  color: #E5E7EB;
}

.description-button {
  background-color: rgb(45, 153, 45);
  color: white;
  width: 82px;
  height: 32px;
  border: 1px rgb(45, 153, 45);
  border-radius: 6px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.row-of-green-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 100px;
  align-items: center;
}

.box-green {
  border: 3px solid rgb(45, 153, 45);
  width: 180px;
  height: 200px;
  border-radius: 10px;
  margin: 2px;
  display: flex;
  justify-content: center;
}

.mobs-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-second {
  text-align: center;
  font-size: 18px;
}

.phrase-text-container {
  background-color: #E5E7EB;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  margin-left: 187px;
}

.author {
  font-size: 18px;
  text-align: end;
  color: #1F2937;
}

.author-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 330px;
}

.register-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-green-register {
  background-color: rgb(45, 153, 45);
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid rgb(45, 153, 45);
}

.left-register {
  width: 80%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4 {
  font-size: 24px;
  color: white;
}
.sign-up-paragraph{
  color: white;
  font-size: 13px;
}

.right-register {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-register {
  background-color: rgb(45, 153, 45);
  color: white;
  width: 80px;
  height: 34px;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  margin-right: 80px;
}

.copyright-container {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #E5E7EB;
  height: 75px;
  align-items: center;
}